/******************
    User custom CSS
    ---------------

    In this file you can add your own custom CSS
    It will be loaded last, so you can override any other property.
    Also, it will never be updated. So if you inheritate a core template and just add here some CSS, you'll still benefit of all the updates
*/

body {
    background: rgb(36,57,89);
    color: rgb(204, 218, 228);
}
.bg-primary, .btn-primary {
    background: #61799B;
}
.text-primary, .text-primary:hover, .input-group-addon.btn-primary {
    color: rgb(204, 218, 228);
}
/*.text-info, .text-info:hover {
    color: white;
}*/
.alert-warning {
    color: #2c3e50;
}
.text-danger, .text-danger:hover {
    color: #ffd520;
}
.input-error input.form-control {
    border: 1px solid #ffd520;
}
.form-control, .form-control:focus {
    border: 1px solid rgb(204, 218, 228);
}
.ls-em-success { /* hide "Please check the format of your answer" when the format is correct */
    visibility: hidden;
}

/* make room for logo at top of page */
@media screen and (min-width: 768px) {
    #main-col {
        margin-top: 100px;
    }
    .navbar {
        height: 100px;
    }
}
.logo-container {
    padding: 0;
    height: auto;
}
.logo-container > img {
    height: auto;
}

/* improve datePicker contrast */
.question-container .answer-container .bootstrap-datetimepicker-widget .datepicker {
    color: #d8d8d8;
}

.welcome-container {
    background: white;
    border-radius: 5px;
}
.welcome-container h1.survey-name {
    color: black;
    padding-top: .5em;
}
.welcome-container .text-primary {
    color: rgb(0, 70, 119);
}
.welcome-container .text-muted {
    color: #6b6b6b;
}
.welcome-container .survey-welcome, .welcome-container .number-of-questions {
    text-align: center;
    padding: .5em;
}

/* left-align number input */
.numeric-item input[data-number='1'] {
    text-align: left;
}
